<div>
	<h2>User login</h2>
</div>

<form ng-submit="doLogin(loginData)">
	<div class="control-group">
		<label for="username">Username: </label>
		<input class="form-control" type="text" name="username" ng-model="loginData.username">
	</div>

	<div class="control-group">
		<label for="password">Password: </label>
		<input class="form-control" type="password" name="password" ng-model="loginData.password">
	</div>

	<!-- <div class="control-group">
		<label for="username">Email: </label>
		<input class="form-control" type="email" name="email" ng-model="loginData.email">
	</div> -->

	<button class="btn btn-primary" type="submit">Login</button>
	<br>
	<a href="/auth/facebook" target="_blank">
		<button class="btn btn-primary" type="button">Facebook</button>
	</a>
	<br>
	<a href="/auth/google" target="_blank">Google</a>
</form>

<!-- LOADING -->
<div ng-show="loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>
<!-- MESSAGES -->
<div class="row show-hide-message">
	<div class="alert alert-sucess">{{successMsg}}</div>
	<div class="alert alert-danger">{{errorMsg}}</div>
	<div class="alert alert-danger" ng-repeat="errorMsg in errorMsgs">{{errorMsg}}</div>
	<div class="alert alert-danger" ng-show="facebookErrorMsg">{{ facebookErrorMSG }}</div>
	<div class="alert alert-danger" ng-show="googleErrorMsg">{{ googleErrorMSG }}</div>
</div>