<div>
	<h2>User Registeration</h2>
</div>

<form ng-submit="regUser(regData)">
	<div class="control-group">
		<label for="username">Username: </label>
		<input class="form-control" type="text" name="username" ng-model="regData.username">
	</div>

	<div class="control-group">
		<label for="password">Password: </label>
		<input class="form-control" type="password" name="password" ng-model="regData.password">
	</div>

	<div class="control-group">
		<label for="username">Email: </label>
		<input class="form-control" type="email" name="email" ng-model="regData.email">
	</div>

	<button class="btn btn-primary" type="submit">Submit</button>
</form>

<!-- LOADING -->
<div ng-show="loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>
<!-- MESSAGES -->
<div class="row show-hide-message">
	<div class="alert alert-sucess">{{successMsg}}</div>
	<div class="alert alert-danger">{{errorMsg}}</div>
	<div class="alert alert-danger" ng-repeat="errorMsg in errorMsgs">{{errorMsg}}</div>
</div>